**vendor
**env
**/__pycache__/
*.py[cod]
**logs
**.htpasswd
*.htpasswd
ia/deminium/ia_accounts.json
ia/deminium/ia_moves.json
ia/deminium/plugins/*/pid
ia/deminium/plugins/*/memory.pkl
admin/locks/*.lock
.installed
:USERPROFILE*
*.pem
*.key
security-quarantine/
