[Unit]
Description=Test hebdomadaire de restauration du Démineur

[Timer]
OnCalendar=Sun *-*-* 04:15:00
Persistent=true
RandomizedDelaySec=20m

[Install]
WantedBy=timers.target
