[Unit]
Description=Opération de sauvegarde demandée depuis l’administration Démineur
After=mysql.service

[Service]
Type=oneshot
User=root
Environment=XDEBUG_MODE=off
ExecStart=/usr/bin/php /var/www/demineur/scripts/admin-backup-operation.php
Nice=10
IOSchedulingClass=idle
TimeoutStartSec=30min
